@charset "utf-8";
/**
     * 初始化标签
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
 {
    font-size: 20px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input img {
    border: none;
}
.clearFix:after {
    content: "200B";
    display: block;
    line-height: 0;
    clear: both;
    font-size: 0;
}
.clearFix {
    *zoom: 1;
}


$width : 100%;

$height : 100%;

$baseColor : #ce3d3e;