@charset "utf-8";
@import "_base.scss";
.playSong {
    position: relative;
    .play {
        display: flex;
        flex-direction: column;
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.8rem;
            padding: 0 15px;
            justify-content: space-between;
            .backBtn {
                display: flex;
                flex-direction: row;
                i {
                    color: #fff;
                    font-size: 1.6rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    text-align: center;
                    line-height: 2.4rem;
                }
                p {
                    padding: 0 10px;
                    display: flex;
                    flex-direction: column;
                    span {
                        font-size: 1rem;
                        color: #fff;
                    }
                }
            }
            .share {
                i {
                    font-size: 1.2rem;
                    color: #fff;
                }
            }
        }
    }
    .songBg {
        position: absolute;
        top: 0;
        left: 0s;
        overflow: hidden;
        z-index: -1;
        img {
            width: 100vw;
            height: 100vh;
            filter:blur(40px) brightness(30%) saturate(200%);
        }
    }
}