<div class="modle" id="modle"></div>
<section class="footerInner" id="footerInner">
	<article class="headImg">
		<div class="pic"><img src="" /></div>
		<div class="txt">
			<h3></h3>
			<p></p>
		</div>
	</article>
	<article class="controller" id="controller">
		<ul>
			<li id="allPlaySongList">
				<a href="javascript:;"><img src="img/playbar_btn_playlist.png" /></a>
			</li>
			<li id="pause">
				<a href="javascript:;"><img src="img/playbar_btn_play.png" /></a>
			</li>
			<li id="playNext">
				<a href="javascript:;"><img src="img/playbar_btn_next.png" /></a>
			</li>
		</ul>
	</article>
	<section id="playingSongList" class="playingSongList">
		<h3 class="playingTitle">播放列表<span id="songNumber"></span></h3>
		<div id="playingList"></div>
	</section>
	
</section>

<div class="play" id="play" style="height: 0; visibility: hidden;">
	<audio src="#" controls="controls" autoplay=true></audio>
</div>

<div id="playingSongListModuel" style="display: none;">
	<div class="playingList">
		<a href="#"></a>
		<i class="fa fa-close"></i>
	</div>
</div>
