
<section class="slide" id="slide">
	<ul>
		<li>
			<a href="#"><img src="img/banner1.jpg" /></a>
		</li>
		<li>
			<a href="#"><img src="img/banner2.jpg" /></a>
		</li>
		<li>
			<a href="#"><img src="img/banner3.jpg" /></a>
		</li>
		<li>
			<a href="#"><img src="img/banner4.jpg" /></a>
		</li>
	</ul>
	<div class="icon"></div>
</section>

<section class="songList">
	
	<article class="title">
		<div class="name">
			<h3>推荐歌单</h3></div>
		<a href="#" class="more">更多<i class="fa fa-angle-double-right"></i></a>
	</article>
	<article class="songItem" id="songItem"></article>
	
	<article class="songMV">
		<article class="title">
			<div class="name">
				<h3>推荐MV</h3></div>
			<a href="#" class="more">更多<i class="fa fa-angle-double-right"></i></a>
		</article>
		<article class="songList" id="songMVList"></article>
	</article>
</section>

<!--//推荐歌单模板-->
<section id="songListItems" style="display: none;">
	<a href="#" class="list">
		<div class="pic">
			<img src="img/109951162857949886.jpg" />
			<span class="bar">24万</span>
		</div>
		<div class="txt">只要你我都記得，初見彼此時微笑。</div>
	</a>
</section>
<!--//推荐mv模板-->
<section id="songMVListItem" style="display: none;">
	<a class="list" href="#">
		<div class="pic"><img src="img/18685100604133296.jpg" /></div>
		<div class="txt">
			<p>Skin to sking</p>
			<p>鹿晗</p>
		</div>
	</a>
</section>