<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/playSong.css"/>
	</head>
	<body>
		<section class="playSong">
			<section class="play">
				<div class="title">
					<div class="backBtn">
						<i class="fa fa-angle-left"></i>
						<p>
							<span>name</span><span>user</span>
						</p>
					</div>
					<div class="share"><i class="fa fa-share-alt"></i></div>
				</div>
				<div class="disc">
					<div class="discTop"></div>
					<div class="discHead"></div>
					<div class="txt"></div>
				</div>
			</section>
			<div class="songBg"><img src="../img/109951162857949886.jpg"/></div>
		</section>
	</body>
</html>
