<section class="singlSong" id="singlSong">
	
	<section class="songDesc" id="songDesc"></section>
	
	<section class="allSongList" id="allSongList">
		<div id="songList">
			<div class="playAll">
				<i class="fa fa-plus-circle"></i>
				<span>播放全部</span>
			</div>
			<ul id="allSong">
				
			</ul>
		</div>
	</section>
</section>

<!--生成歌单头部-->
<div id="songTitle" style="display: none;">
	<div class="songTop">
		<div class="title">
			<a id="backToIndex" href="javascript:;"><i class="fa fa-arrow-left"></i></a>
			<span>歌单</span>
		</div>
		<div class="songDescHead">
			<div class="songHead">
				<img class="songHeadImg" src="" />
			</div>
			<div class="songDesc">
				<h3>华语物语：以动物为名，诉说美妙旋律</h3>
				<p class="author">
					<img src="" />
					<span></span>
				</p>
			</div>
		</div>
	</div>
	<div class="blar"><img src="img/109951162857949886.jpg" /></div>
</div>

<!--单独的每个歌曲-->
<div id="allSongitems" style="display: none;">
	<li>
		<a class="list" href="">
			<div class="listNum"></div>
			<div class="listName">
				<p class="songName"></p>
				<p class="name"></p>
			</div>
		</a>
	</li>
</div>